.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background: #1B2741;
    color: #fff;
  }
  .example-toolbar{
    background: #1B2741;
    color: #fff;
  } 
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    
  }
  /* mat-nav-list{
    background-color: black;
    color: white;
  } */
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  /* Tamañao de sivedar en pantalla */
  mat-sidenav{
       width: 30%;
  }
  /* estilos al sidevar padre con la clase */
  .sidenav{
    background: #1B2741;
  color:#fff;
  padding: 1.5em 0 0 0;
  height:auto;
  width: 300px  ;
  display: flex;
  }
  /* le pega al color de fondo del icono */
  .example-space{
    color:#2196F3 !important; 
  }
  /* color de la letra en menu */
  a{
      color:white !important;
  }

  button{
    background-color:#1B2741;
  }