
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-12">
           <h3>Adimistracion de tareas</h3>
           <hr>
        </div>
    </div>

    <div class="row">
       <div class="col-12">
          <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
      
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Grupo</th>
                    <th scope="col">Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tarea of tareas ">
                    <th scope="row">{{tarea.nombre}}</th>
                    <td>{{tarea.materia}}</td>
                    <td>{{tarea.grupo}}</td>
                    <td > <span class="badge badge-success">{{tarea.entregada}}</span></td>
                  </tr>
                </tbody>
              </table>
          </div>
       </div>
    </div>
</div>