
<div class="container">
    <div class="row text-center mt-5">
        <div class="col-12">
           <h3>Adimistracion</h3>
           <hr>
        </div>
    </div>

    <div class="row">
       <div class="col-12">
          <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"># Control</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Imprimir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>
                        <button class="badge badge-success">
                            Imprimir
                         </button>
                   
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>
                        <button class="badge badge-success">
                            Imprimir
                         </button>
                   
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>
                        <button class="badge badge-success">
                            Imprimir
                         </button>
                   
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
       </div>
    </div>
</div>