<div class="container-fluid">
  <div class="row h">
     <div class="col-sm-12 col-md-8  background">
        <div class="text-l">
           <h2>Sistema de Administración<br> SEP</h2>
           <p>Escuela secundaria Ignacio Allende.</p>
        </div>
     </div>
     <div class="col-sm-12 col-md-4">
         <div class="row text-center mt-1">
           <div class="col-12">
            <figure class="figure">
              <img src="assets/img/sep.png" class="figure-img img-fluid rounded" alt="logo sep">
            </figure>
           </div>
         </div>
         <div class="row">
            <div class="col-12">
              <form [formGroup]="loginForm" (ngSubmit)=login()>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label>Email</label>
                    <input type="email" formControlName="email" class="form-control"  placeholder="Email">
                  </div>
                  <div class="form-group col-md-12">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control"  placeholder="Password">
                  </div>
                </div>
                <div class="row mb-3">
                 <div class="col-12">
                  <a routerLink="/register" class="badge badge-success ho">Registrarse</a>
                 </div>
                </div>
                 <div class="row">
                    <div class="col-12">
                      <button  [disabled]="loginForm.invalid" type="submit"  class="btn btn-block btn-dark">Login</button>
                    </div>
                 </div>
                
               
                
              </form>
            </div>
         </div>
        
 
     </div>
  </div>
</div>



<!-- <div class="container-fliud  background h-100 w-100 ">
  
  <div class="row justify-content-center enmedio">
     <div class="col-3">
           <div class="row text-center">
    <div class="col-12  col-md-4 col-lg-6 bg-primary">
    1
     </div> 
     <div class="col-12  col-md-4 col-lg-6 bg-success">
     2
     </div>
     <div class="col-12  col-md-4 col-lg-6 bg-secondary  ">
      3
     </div>
 
      <div class="col-12 col-md-12  col-lg-6 bg-dark ">
        <p> correo</p>
       
     </div>
    
  </div>
  
  <div class="row text-center">
    <div class="col-12 col-md-6  bg-primary">
   <p>password 1</p> 
    </div>
    <div class="col-12 col-md-6 bg-success">
    <p>password 2</p> 
     </div>
  </div>
     </div>
  </div>
 
</div> -->